.pokeFavorites {
    width: 15%;
    min-height: 80vh;

    padding: 3%;
    margin: 5%;
    background-color: #eeeeee;

    border-left: 1px solid #dddddd;
}

.pokeFavorites h2 {
    width: 100%;

    margin: 0 0 5%;

    text-align: left;

    font-size: 1.5rem;
}

.pokeFavorites ul {
    width: 100%;

    margin: 0;
    padding-left: 8%;

    text-align: left;
}

.pokeFavorites li {
    margin: 5% 0;

    cursor: pointer;
}

.pokeFavorites li:hover {
    font-weight: bold;
}